*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
      
}

body{
    font-family: 'Raleway', sans-serif;
}
/* class header start */

.header{
    /* background-color: rgba(44, 42, 42, 0.973); */
    margin: 0px 80px 0px 80px;
}

.email{
    height:12px ;
    width: 14px;
}

.email-box{
    margin: 16px 0px 0px 70px;
}

.email-box a{
    color: rgb(77, 71, 71);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.email-id{
    margin:-17px 0px 0px 17px;
}

.signup{
   float: right;
   margin: -13px 92px 0px 0px;
}

.signup a{
    color: white;
    border: 1px solid black;
    background-color: black;
    font-family: 'Teko', sans-serif;
    padding: 4px 16px 0px 16px;
    font-size: 20px;
}

